/* You can add global styles to this file, and also import other style files */

body {
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    padding: 50px;
}

.wrapper {
    margin-top: 100px;
}

.wrapper div.movies-wrapper {
    padding: 0;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.wrapper div.movie-bloc {
    display: block;
    min-width: 200px;
    /* border: thin inset black; */
    border: solid 1px #ba2bd2;
    width: 200px;
    height: 255px;
    margin: 10px;
    text-align: center;
    background-size: cover;
    background-blend-mode: color;
    position: relative;
}

.wrapper div.movie-bloc div.clear-text {
    color: white;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.wrapper div.movie-bloc div.hidden-text {
    visibility: hidden;
    color: white;
    font-size: 18px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.wrapper div.movie-bloc:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.wrapper div.movie-bloc:hover div.hidden-text {
    visibility: visible
}

.wrapper div.movie-bloc span.desc {
    font-weight: 700;
}

.wrapper div.movie-bloc p {
    margin-top: 0;
}

.link {
    cursor: pointer;
    font-size: 20px;
    box-shadow: 3px 3px 6px 0px #ba2bd2;
    max-width: 200px
}

.link .emoji {
    float: right
}

.link:hover .emoji.emoji-rotate {
    animation: spin 1s linear;
}

.link:hover .emoji.emoji-swell {
    animation: vibrate-and-swell 1s linear;
}

.link:hover .emoji.emoji-simple-swell {
    animation: swell 1s linear;
}

.link:hover {
    text-decoration-line: underline;
}

.link:hover {
    text-decoration-line: underline;
}

.link.link-simple {
    box-shadow: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes swell {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(2);
    }
    90% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes vibrate-and-swell {
    0% {
        transform: scale(1) rotate(0deg);
    }
    20% {
        transform: scale(1.2) rotate(-20deg);
    }
    50% {
        transform: scale(1.8) rotate(45deg);
    }
    80% {
        transform: scale(1.2) rotate(-25deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}

.loader {
    margin: auto;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: .25rem solid gray;
    border-top-color: black;
    animation: spin 1s infinite linear;
}
